<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asus_cp.dongmanbuy">


    <!--支付宝jar所需要的权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--闪光灯所需要的权限-->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus"/>


    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:anyDensity="true"/>

    <application
        tools:replace="android:label"
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:value="57e8d86867e58ea22c002d44" android:name="UMENG_APPKEY"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>


        <!--百度地图的开发者密钥-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="aaWhYsSnFmRXY3OAQHVzs7aUpBnkq2ha" />


        <!--启动界面的activity-->
        <activity android:name=".activity.StartActivity"
            android:icon="@mipmap/logo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主界面的activity-->
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/MyAppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <!--登录activity-->
        <activity android:name=".activity.login.LoginActivity"
            android:screenOrientation="portrait"/>

        <!--注册activity-->
        <activity android:name=".activity.login.RegisterActivity"
            android:screenOrientation="portrait"/>

        <!--邮箱找回密码的actvity-->
        <activity android:name=".activity.login.FindPassworByEmaildActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!--手机找回密码的actiity-->
        <activity android:name=".activity.login.FindPassworByPhoneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!--输验证码的activity-->
        <activity android:name=".activity.login.FindByEmailYanZhengMaActiity"
            android:screenOrientation="portrait"/>

        <!--输新密码的activity-->
        <activity android:name=".activity.login.ChangPasswordConfirmActivity"
            android:screenOrientation="portrait"/>

        <!--商品详情的activity-->
        <activity android:name=".activity.product_detail.ProductDetailActivity"
            android:screenOrientation="portrait"/>

        <!--商品详情规格-->
        <activity android:name=".activity.product_detail.ProductPicAndGuiGeActivity"
            android:screenOrientation="portrait"/>

        <!--用户评价的activity-->
        <activity android:name=".activity.product_detail.CommetnActivity"
            android:screenOrientation="portrait"/>

       <!-- 地区列表的activity-->
        <activity android:name=".activity.product_detail.AreaActivity"
            android:screenOrientation="portrait"/>

        <!--缺货登记的activity-->
        <activity android:name=".activity.product_detail.QueHuoDengJiActivity"
            android:screenOrientation="portrait"/>

        <!--有货时的activity-->
        <activity android:name=".activity.gou_wu.ShoppingCarActivity"
            android:screenOrientation="portrait"/>

        <!--店铺街的activity-->
        <activity android:name=".activity.dian_pu_jie.ShopStreetCategoryActvity"
            android:screenOrientation="portrait"/>

        <!--店铺主页的activity-->
        <activity android:name=".activity.dian_pu_jie.ShopHomeActivity"
            android:screenOrientation="portrait"/>

        <!--店铺详情的activity-->
        <activity android:name=".activity.dian_pu_jie.ShopDetailActivity"
            android:screenOrientation="portrait"/>

        <!--店铺排序的activity-->
        <activity android:name=".activity.dian_pu_jie.ShopProdcutSortActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!--店铺搜索的搜索界面-->
        <activity android:name=".activity.dian_pu_jie.ShopSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!--订单的activity-->
        <activity android:name=".activity.gou_wu.DingDanActivity"
            android:screenOrientation="portrait"/>

        <!--收货人信息的activity-->
        <activity android:name=".activity.gou_wu.ShouHuoRenXinXiListActivity"
            android:screenOrientation="portrait"/>

        <!--添加收货人信息的activity-->
        <activity android:name=".activity.gou_wu.AddShouHuoAddressActivity"
            android:screenOrientation="portrait"/>

        <!--自提地点的activity-->
        <activity android:name=".activity.gou_wu.ZiTiAreaActivity"
            android:screenOrientation="portrait"/>

        <!--发票的activity-->
        <activity android:name=".activity.gou_wu.FaPiaoActiity"
            android:screenOrientation="portrait"/>

        <!--优惠券的activity-->
        <activity android:name=".activity.gou_wu.YouHuiQuanActivity"
            android:screenOrientation="portrait"/>

        <!--展示订单里面商品的activity-->
        <activity android:name=".activity.gou_wu.DingDanGoodDispalyListActivity"
            android:screenOrientation="portrait"/>

        <!--提交订单之后的activity-->
        <activity android:name=".activity.gou_wu.AfterTiJiaoDingDanActivity"
            android:screenOrientation="portrait"/>

        <!--余额支付成功之后的acitivity-->
        <activity android:name=".activity.gou_wu.YuEZhiFuSuccessedActivity"
            android:screenOrientation="portrait"/>

        <!--订单列表的activity-->
        <activity android:name=".activity.gou_wu.DingDanListActivity"
            android:screenOrientation="portrait"/>

        <!--订单详情的activity-->
        <activity android:name=".activity.gou_wu.DingDanDetailActivity"
            android:screenOrientation="portrait"/>

        <!--个人中心的activity-->
        <activity android:name=".activity.personal_center.PersonalCenterActivity"
            android:screenOrientation="portrait"/>

        <!--资料设置的activity-->
        <activity android:name=".activity.personal_center.data_set.DataSetActivity"
            android:screenOrientation="portrait"/>

        <!--性别选择的activity-->
        <activity android:name=".activity.personal_center.data_set.SexSelectActivity"
            android:screenOrientation="portrait"/>

        <!--修改邮箱的activity-->
        <activity android:name=".activity.personal_center.data_set.ChangeEmailActivity"
            android:screenOrientation="portrait"/>

        <!--修改手机的activity-->
        <activity android:name=".activity.personal_center.data_set.ChangePhoneActivity"
            android:screenOrientation="portrait"/>

        <!--个人中心修改密码的activity-->
        <activity android:name=".activity.personal_center.data_set.ChangPasswordPersonalCenterActivity"
            android:screenOrientation="portrait"/>

        <!--编辑收获地址列表的activity-->
        <activity android:name=".activity.personal_center.data_set.EditShipAddressActivity"
            android:screenOrientation="portrait"/>

        <!--更新收货地址的activity-->
        <activity android:name=".activity.personal_center.data_set.UpdateShipAddressActivity"
            android:screenOrientation="portrait"/>

        <!--收藏列表的activity-->
        <activity android:name=".activity.personal_center.ShouCangListActivity"
            android:screenOrientation="portrait"/>

        <!--关注列表的activity-->
        <activity android:name=".activity.personal_center.GuanZhuListActivity"
            android:screenOrientation="portrait"/>

        <!--资金管理的activity-->
        <activity android:name=".activity.personal_center.fund_manager.FundManagerActivity"
            android:screenOrientation="portrait"/>

        <!--充值的activity-->
        <activity android:name=".activity.personal_center.fund_manager.ChongZhiActivity"
            android:screenOrientation="portrait"/>

        <!--提现的activity-->
        <activity android:name=".activity.personal_center.fund_manager.TiXianActivity"
            android:screenOrientation="portrait"/>

        <!--红包列表的activity-->
        <activity android:name=".activity.personal_center.fund_manager.HongBaoListActivity"
            android:screenOrientation="portrait"/>

        <!--添加红包的activity-->
        <activity android:name=".activity.personal_center.fund_manager.AddHongBaoActivity"
            android:screenOrientation="portrait"/>

        <!--银行卡列表的activity-->
        <activity android:name=".activity.personal_center.fund_manager.BankCardListActivity"
            android:screenOrientation="portrait"/>

        <!--添加银行卡的activity-->
        <activity android:name=".activity.personal_center.fund_manager.AddBankCardActivity"
            android:screenOrientation="portrait"/>

        <!--账户明细的activity-->
        <activity android:name=".activity.personal_center.fund_manager.AccountDetailActivity"
            android:screenOrientation="portrait"/>

        <!--申请记录的activity-->
        <activity android:name=".activity.personal_center.fund_manager.ShenQingJiLuActivity"
            android:screenOrientation="portrait"/>

        <!--申请记录详情的activity-->
        <activity android:name=".activity.personal_center.fund_manager.ShenQingJiLuDetailActivity"
            android:screenOrientation="portrait"/>

        <!--搜索的actiity-->
        <activity android:name=".activity.search.SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <!--商品搜索结果展示的activity-->
        <activity android:name=".activity.search.GoodSearchResultActivity"
            android:screenOrientation="portrait"/>

        <!--店铺搜索结果的展示页-->
        <activity android:name=".activity.search.ShopSearchResultActivity"
            android:screenOrientation="portrait"/>

        <!--限时秒杀更多的activity-->
        <activity android:name=".activity.more.XianShiMiaoShaMoreActivity"
            android:screenOrientation="portrait"/>

        <!--精品推荐的activity-->
        <activity android:name=".activity.more.JingPinTuiJianMoreActivity"
            android:screenOrientation="portrait"/>

        <!--扫描结果的activity-->
        <activity android:name=".activity.sao_maio.SaoMiaoResultActivity"
            android:screenOrientation="portrait"/>

        <!--扫描页所在的activity-->
        <activity android:name=".activity.MipcaActivityCapture"
            android:screenOrientation="portrait"/>

        <!--浏览记录的activity-->
        <activity android:name=".activity.main_activity_xiang_guan.LiuLanJiLuListActivity"
            android:screenOrientation="portrait"/>

        <!--店铺地址的地图的activity-->
        <activity android:name=".activity.map_activity_my.ShopStreerMapActivity"
            android:screenOrientation="portrait"/>

        <!--线路规划的activity-->
        <activity android:name=".activity.map_activity_my.SearchWayActivity"
            android:screenOrientation="portrait"/>

        <!--引导页的activity-->
        <activity android:name=".activity.GuideActivity"
            android:screenOrientation="portrait"/>

        <!--带评价列表的activity-->
        <activity android:name=".activity.gou_wu.AwaitCommentListActivity"
            android:screenOrientation="portrait"/>


        <!--搜索的activity,因为必须按照ui做，此类作废-->
        <activity android:name=".activity.MySearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>


        <!--支付宝jar包里面的activity-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>


        <!--新浪微博授权的activity-->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>



        <!--服务-->
        <service android:name=".service.UidService"/>

        <!--百度定位的服务-->
        <!--<service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>-->

    </application>


</manifest>
