<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus_cp.dongmanbuy">

    <!--支付宝jar所需要的权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:anyDensity="true"/>

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--登录activity-->
        <activity android:name=".activity.login.LoginActivity"/>

        <!--注册activity-->
        <activity android:name=".activity.login.RegisterActivity"/>

        <!--邮箱找回密码的actvity-->
        <activity android:name=".activity.login.FindPassworByEmaildActivity"/>

        <!--手机找回密码的actiity-->
        <activity android:name=".activity.login.FindPassworByPhoneActivity"/>

        <!--输验证码的activity-->
        <activity android:name=".activity.login.FindByEmailYanZhengMaActiity"/>

        <!--输新密码的activity-->
        <activity android:name=".activity.login.ChangPasswordActivity"/>

        <!--商品详情的activity-->
        <activity android:name=".activity.product_detail.ProductDetailActivity"/>

        <!--商品详情规格-->
        <activity android:name=".activity.product_detail.ProductPicAndGuiGeActivity"/>

        <!--用户评价的activity-->
        <activity android:name=".activity.product_detail.CommetnActivity"/>

       <!-- 地区列表的activity-->
        <activity android:name=".activity.product_detail.AreaActivity"/>

        <!--缺货登记的activity-->
        <activity android:name=".activity.product_detail.QueHuoDengJiActivity"/>

        <!--有货时的activity-->
        <activity android:name=".activity.gou_wu.ShoppingCarActivity"/>

        <!--店铺街的activity-->
        <activity android:name=".activity.dian_pu_jie.ShopStreetCategoryActvity"/>

        <!--店铺主页的activity-->
        <activity android:name=".activity.dian_pu_jie.ShopHomeActivity"/>

        <!--店铺详情的activity-->
        <activity android:name=".activity.dian_pu_jie.ShopDetailActivity"/>

        <!--店铺排序的activity-->
        <activity android:name=".activity.dian_pu_jie.ShopProdcutSortActivity"/>

        <!--订单的activity-->
        <activity android:name=".activity.gou_wu.DingDanActivity"/>

        <!--收货人信息的activity-->
        <activity android:name=".activity.gou_wu.ShouHuoRenXinXiListActivity"/>

        <!--添加收货人信息的activity-->
        <activity android:name=".activity.gou_wu.AddShouHuoAddressActivity"/>

        <!--自提地点的activity-->
        <activity android:name=".activity.gou_wu.ZiTiAreaActivity"/>

        <!--发票的activity-->
        <activity android:name=".activity.gou_wu.FaPiaoActiity"/>

        <!--优惠券的activity-->
        <activity android:name=".activity.gou_wu.YouHuiQuanActivity"/>

        <!--提交订单之后的activity-->
        <activity android:name=".activity.gou_wu.AfterTiJiaoDingDanActivity"/>

        <!--余额支付成功之后的acitivity-->
        <activity android:name=".activity.gou_wu.YuEZhiFuSuccessedActivity"/>

        <!--订单列表的activity-->
        <activity android:name=".activity.gou_wu.DingDanListActivity"/>

        <!--订单详情的activity-->
        <activity android:name=".activity.gou_wu.DingDanDetailActivity"/>

        <!--个人中心的activity-->
        <activity android:name=".activity.personal_center.PersonalCenterActivity"/>

        <!--资料设置的activity-->
        <activity android:name=".activity.personal_center.data_set.DataSetActivity"/>

        <!--性别选择的activity-->
        <activity android:name=".activity.personal_center.data_set.SexSelectActivity"/>

        <!--修改邮箱的activity-->
        <activity android:name=".activity.personal_center.data_set.ChangeEmailActivity"/>

        <!--修改手机的activity-->
        <activity android:name=".activity.personal_center.data_set.ChangePhoneActivity"/>

        <!--个人中心修改密码的activity-->
        <activity android:name=".activity.personal_center.data_set.ChangPasswordPersonalCenterActivity"/>

        <!--编辑收获地址列表的activity-->
        <activity android:name=".activity.personal_center.data_set.EditShipAddressActivity"/>

        <!--更新收货地址的activity-->
        <activity android:name=".activity.personal_center.data_set.UpdateShipAddressActivity"/>

        <!--收藏列表的activity-->
        <activity android:name=".activity.personal_center.ShouCangListActivity"/>

        <!--关注列表的activity-->
        <activity android:name=".activity.personal_center.GuanZhuListActivity"/>

        <!--资金管理的activity-->
        <activity android:name=".activity.personal_center.fund_manager.FundManagerActivity"/>

        <!--充值的activity-->
        <activity android:name=".activity.personal_center.fund_manager.ChongZhiActivity"/>

        <!--提现的activity-->
        <activity android:name=".activity.personal_center.fund_manager.TiXianActivity"/>

        <!--红包列表的activity-->
        <activity android:name=".activity.personal_center.fund_manager.HongBaoListActivity"/>

        <!--银行卡列表的activity-->
        <activity android:name=".activity.personal_center.fund_manager.BankCardListActivity"/>

        <!--添加银行卡的activity-->
        <activity android:name=".activity.personal_center.fund_manager.AddBankCardActivity"/>

        <!--账户明细的activity-->
        <activity android:name=".activity.personal_center.fund_manager.AccountDetailActivity"/>

        <!--申请记录的activity-->
        <activity android:name=".activity.personal_center.fund_manager.ShenQingJiLuActivity"/>

        <!--申请记录详情的activity-->
        <activity android:name=".activity.personal_center.fund_manager.ShenQingJiLuDetailActivity"/>

        <!--搜索的actiity-->
        <activity android:name=".activity.search.SearchActivity"/>

        <!--商品搜索结果展示的activity-->
        <activity android:name=".activity.search.GoodSearchResultActivity"/>

        <!--店铺搜索结果的展示页-->
        <activity android:name=".activity.search.ShopSearchResultActivity"/>

        <!--限时秒杀更多的activity-->
        <activity android:name=".activity.more.XianShiMiaoShaMoreActivity"/>

        <!--精品推荐的activity-->
        <activity android:name=".activity.more.JingPinTuiJianMoreActivity"/>

        <!--扫描结果的activity-->
        <activity android:name=".activity.sao_maio.SaoMiaoResultActivity"/>

        <!--搜索的activity,因为必须按照ui做，此类作废-->
        <activity android:name=".activity.MySearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>


        <!--支付宝jar包里面的activity-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
    </application>

</manifest>
